/* src/styles.scss */
:root {
    direction: ltr !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    direction: ltr !important;
    text-align: left !important;
}